<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include('head'); %>
    <title>Blog da Asta</title>
</head>

  <body>
    <!-- Navbar -->
    <nav class="nav-container fixed top-0 left-0 right-0 z-10 bg-black">
      <img src="./images/estrelinha.png" class="logo" href="/">
      <ul>
        <li><a class="font-amatic text-4xl hover:text-red-600 p-3" href="#extras">extras</a></li>
        <li><a class="font-amatic text-4xl hover:text-red-600 p-3" href="#infos">Infos</a></li>
        <li><a class="font-amatic text-4xl hover:text-red-600 p-3" href="#dados">Dados</a></li>
        <li><a class="font-amatic text-4xl hover:text-red-600 p-3" href="#jogo">O jogo</a></li>
      </ul>
    </nav>
    
    
    <header class="bg-center bg-cover bg-fixed custom-img h-screen bg-black p-7">

    </header>
    <div class="max-w-lg m-auto py-3" id="jogo">
      <p class="my-4 text-lg italic">
        "Faz algum tempo que estou aqui. Sinto como se fosse amaldiçoada por uma espécie de espectro ruim que tomou conta da minha mente e corpo."

      </p>
      <p class="mb-4 font-amatic text-4xl">
        Você será capaz de ajudá-la? O que faria no lugar de Asta? Embarque nessa jornada de autoconhecimento e empatia!
      </p>
      <p class="mb-4">
        Em 2019, aproximadamente 1 bilhão de pessoas no mundo todo possuíam algum tipo de doença psicológica, 
        sendo 14% desse total adolescentes (OPAS/OMS). 
        Com a pandemia, esses números assustadores aumentaram ainda mais. 
        No ramo da tecnologia - especificamente na área de desenvolvimento de jogos - estudos vêm sendo realizados desde 2005 sobre o impacto positivo que os jogos podem causar em seus usuários, 
        revelando um grande potencial no combate de transtornos mentais.

        Nesse contexto, o objetivo desse projeto é proporcionar aos jogadores do gênero Visual Novel uma experiência imersiva de empatia e identificação, 
        vivenciada pela personagem protagonista do jogo, que aborda como tema principal distúrbios mentais, 
        os sintomas psicossomáticos e o transtorno de sintomas somáticos.

        Asta, a protagonista de “Asta vs The Demons”, é uma adolescente que lida
        diariamente com os sintomas de depressão, transtorno de ansiedade generalizada e
        ataques de pânico. O desenrolar da história se dá pela perspectiva dela, sendo esta
        a personagem narradora do enredo. O jogador precisará interagir com a história e
        tomar decisões que determinarão finais diferentes. Cada escolha feita pelo usuário
        com o intuito de ajudar Asta a lidar com o seu contexto, irá trazer um final distinto para
        a história.
      
      </p>
    </div>


    <section
      class="container flex items-center justify-center h-screen m-auto mb-12 bg-fixed bg-center bg-cover custom-img2 bg-black">
    </section>


    <div class="max-w-lg m-auto py-3" id="dados">
      <p class="my-4 font-amatic text-4xl">
        No Brasil, de acordo com especialistas da Universidade de São Paulo,
        os dados apontam que o país está no ranking dos países que mais apresentam pessoas com transtornos mentais, 
        com destaque nos quadros de depressão e ansiedade. Por conta da pandemia, esse quadro apresentou-se ainda mais agravante {CONEXA SAÚDE, 2022}. 
        Em 2019, a Organização Mundial de Saúde (OMS) em uma de suas coletas de dados, também mostrou que 23 milhões de brasileiros (12% da população) 
        possuíam algum sintoma de transtorno psicológico (MEDICINA S/A, 2019).
      </p>
      <p class="mb-4 italic">
        De acordo com American Psychiatric Association (2013, p.64), 
        "um transtorno mental é uma síndrome caracterizada por perturbação clinicamente significativa na cognição, 
        na regulação emocional ou no comportamento de um indivíduo que reflete uma disfunção nos processos psicológicos, 
        biológicos ou de desenvolvimento subjacentes ao funcionamento mental. Transtornos mentais estão frequentemente associados a sofrimento ou incapacidade significativos que afetam atividades sociais, 
        profissionais ou outras atividades importantes. Uma resposta esperada ou aprovada culturalmente a um estressor ou perda comum, como a morte de um ente querido, não constitui transtorno mental. 
        Desvios sociais de comportamento (p. ex., de natureza política, religiosa ou sexual) 
        e conflitos que são basicamente referentes ao indivíduo e à sociedade não são transtornos mentais a menos que o desvio ou conflito seja o resultado de uma disfunção no indivíduo, conforme descrito."
      </p>
      <p class="mb-4">
        Os critérios a serem validados para o diagnóstico de um paciente são: validadores de antecedentes (marcadores genéticos semelhantes, 
        traços familiares, temperamento e exposição ambiental), validadores concorrentes (substratos neurais semelhantes, biomarcadores, 
        processamento emocional e cognitivo e similaridade de sintomas), validadores preditivos (curso clínico e resposta ao tratamento semelhantes), 
        entre outros fatores que colaboram para o caos mental \cite{APA13}. De acordo com a Organização Pan-Americana de Saúde, 
        alguns exemplos de distúrbios psíquicos são: Transtorno Depressivo Maior, Transtorno Afetivo Bipolar; Transtorno de Ansiedade Generalizada (TAG); 
        Transtorno Obsessivo-compulsivo (TOC); Transtornos de Personalidade; Transtorno do Estresse Pós-Traumático (TEPT); Transtorno de Ansiedade Social; 
        Transtornos Alimentares; Esquizofrenia e outras Psicoses; Deficiência Intelectual e Transtornos de Desenvolvimento, incluindo o Autismo (OPAS, 2022).    
      </p>
      <p class="mb-4">
        O "transtorno de sintomas somáticos e transtornos relacionados" é caracterizado por um ou mais sintomas físicos crônicos acompanhados por níveis 
        significativos e desproporcionais de angústia, preocupação e dificuldade em desempenhar funções diárias, relacionadas a esses sintomas. 
        Neste transtorno, a principal preocupação da pessoa é com os sintomas físicos, como dor, fraqueza, fadiga, náusea ou outras sensações corporais. 
        É válido lembrar que o termo ``transtorno de sintomas somáticos e transtornos relacionados'' substitui vários outros diagnósticos utilizados antigamente, 
        como transtorno de somatização, transtorno de ansiedade de doença, transtorno doloroso, transtorno somatoforme indiferenciado e alguns transtornos 
        relacionados (DIMSDALE, 2020). Segundo o Manual diagnóstico e estatístico de transtornos mentais - 5ª edição, o principal diagnóstico dessa doença ocorre 
        com base em "sintomas positivos", que podem ser definidos como sintomas somáticos perturbadores, associados a pensamentos, 
        sentimentos e comportamentos anormais em resposta a esses sintomas (American Psychiatric Association, 2013). 
      </p>
      <p class="mb-4">
        Já as doenças psicossomáticas, tratam-se de fenômenos físicos expressivos em doenças somáticas, 
        que manifesta de forma crônica, os conflitos psíquicos (liberado na forma de sintomas e doenças no corpo) (MELLO FILHO, 2002). 
        A psicossomática também pode ser definida como um dano psíquico que apresenta mudanças clinicas e problemas físicos, 
        causado pelo excesso de pensamentos negativos e emoções, que resultam em um grande desequilíbrio e desorganização mental. 
        Podem ser causadas por casos anteriores de distúrbios mentais e doenças somáticas. 
        Os problemas psicossomáticos se manifestam de diversas maneiras e apresentam diferentes sintomas, como a falta de sono, 
        alterações no apetite alimentar e sexual, etc. Alguns exemplos de doenças classificadas como psicossomáticas: gastrite, 
        insônia, bulimia, impotência sexual, enxaqueca, alergias alimentares e respiratórias e doenças cardíacas (HOSPITAL SANTA MÔNICA, 2019).
      </p>

      <p class="mb-4">
        À vista disso, de acordo com a OMS, o tópico "saúde mental" não recebe a mesma atenção e importância dada à saúde física das pessoas. 
        Essa negligência no âmbito da saúde mental pública tem refletido no comportamento social. Entretanto, felizmente e de maneira gradativa, 
        o movimento que preza pelo estado mental das pessoas tem ganhado voz. É bastante comum ver postagens, matérias e reportagens nas mídias sociais, 
        abordando temas relacionados ao estado emocional das pessoas, incentivando dessa forma, o zelo e cuidado com sua psique. 
        No entanto, ainda assim há estigmas, crenças pessoais e religiosas, ignorância e preconceito acerca da saúde mental, quando esta, 
        deveria ser tratada com a mesma seriedade e importância que é dada a saúde física. Isto posto, fica evidente que deve haver um maior 
        engajamento no que diz respeito ao cuidado com a saúde mental na sociedade atual.
      </p>
    </div>

    <section
    class="container flex items-center justify-center h-screen m-auto mb-12 bg-fixed bg-center bg-cover custom-img4 bg-black">
  </section>


  <div class="max-w-lg m-auto py-3" id="infos">
    <p class="my-4 text-4xl">
     Onde procurar ajuda professional de forma acessível?
     Com quem falar em momentos de crise?
    </p>
    
    <p class="mb-4">
      A gente sabe que apoio professional não é algo barato. 
      É muito comum que pessoas que precisam de ajuda deixem de lado a busca por professionais devido aos grandes custos. 
      Pensando nisso - e como forma de estudo aos alunos de psicologia - 
      muitas universidades oferecem atendimento psicológico com valores mínimos ou até mesmo consultas 100% gratuitas! 
      Pesquise por universidades e faculdades na sua região que ofereçam esse serviço, é algo bastante comum, fácil de encontrar e bem acessível :)

      Quando estiver passando por uma crise muito forte e não possuir alguém para quem recorrer, 
      ligue para o 188 - Centro de Valorização da Vida. 
      A ligação é gratuita e você será atendido por um voluntário preparado para lidar com sua situação. 
      O programa funciona 24 horas por dias todos os dias. 
      Você não precisa passar por isso sozinho. 
      Você não está sozinho.
    </p>
  </div>


  <section
      class="container flex items-center justify-center h-screen m-auto mb-12 bg-fixed bg-center bg-cover custom-img3 bg-black">
    </section>

    <div class="max-w-lg m-auto py-3" id="extras">
      <p class="my-4 font-amatic text-9xl">
       Extras!!!!!
      </p>
      
      <p class="mb-4">
        A Asta - e a desenvolvedora disso tudo aqui - TÁ MUITO FELIZ QUE VOCÊ CHEGOU ATÉ AQUI!
        Esperamos que tenha gostado do conteúdo e que o jogo tenha sido - ou seja, caso não tenha jogado ainda - uma experiência positiva para você.

        Antes da surpresinha, algumas palavrinhas importantes:
        
        *****POV. A desenvolvedora está falando*****
        A Asta representa o que já fui um dia. 
        E se você se identificou com a protagonista, saiba que você não está sozinho. E que esse medo e angústia não vão durar pra sempre.
        A Asta é um exemplo de que é possível superar demônios e que você também pode. Pode não parecer agora, mas palavras de quem já passou por isso:
        A vida é boa demais. E você vai ver isso um dia.
        Espero do fundo do meu coração que você esteja bem. E se não estiver, vai ficar. 
        Todos temos demônios interiores, e somente nós podemos matá-los.
        Procure ajuda para aprender a lidar com eles, até chegar o dia em que você consiga enfrentá-los sozinho(a).
        
        Proteja seu coração mortal. 
        E sua mente também, ok?
        Um beijo e um queijo meu e da Asta.
      </p>

      <p class="my-4 font-amatic text-7xl">
        A SURPRESINHAAAA, finalmente!!!!!
       </p>
       <p class="mb-4">
       Toma ai de presente pra você algumas - das diversas - artes que foram desenvolvidas ao longo do jogo. Provavelmente algumas se perderam ao longo do caminho...
       </p>
    </div>

    

    <footer class="bg-black text-white bottom-0 w-full">
      <div class="container mx-auto flex items-center justify-center py-6 px-4">
        <p class="text-center">Copyright © 2023.</p>
      </div>
    </footer>

    </body>

</html>