<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('head'); %>
    <title>Faça seu cadastro :)</title>
  </head>

  <body class="bg-me-ajude">
    <div class="flex h-screen">
      <!--container pai flexível-->

      <div class="flex w-[60vw] justify-center items-center px-6">
        <!--Container filho que ocupa 60% da tela-->
        <div class="bg-white py-10 px-6 rounded-xl bg-opacity-60">
          <form action="\cadastro" method="POST">
            <div class="text-3xl mb-6 text-center">
              <h2
                class="font-amatic text-6xl font-bold text-red-900 text-center"
              >
                Faça seu cadastro
              </h2>
              <h5 class="font-amatic text-3xl text-red-900 text-center">
                e embarque no mundo de Asta!
              </h5>
            </div>

            <div class="grid grid-cols-1 gap-4 max-w-xl m-auto">
              <div class="col-span-2 lg:col-span-2">
                <label for="email">Seu melhor email:</label>
                <input
                  id="email"
                  type="email"
                  name="email"
                  class="border-solid border-gray-400 border-2 rounded-lg p-3 md:text-xl w-full"
                  placeholder="email@email"
                  required
                />
              </div>

              <div class="col-span-2 lg:col-span-2">
                <label for="user">Crie uma senha:</label>
                <input
                  id="password"
                  for="password"
                  type="password"
                  name="password"
                  class="border-solid border-gray-400 border-2 rounded-lg p-3 md:text-xl w-full"
                  placeholder="********"
                  required
                />
              </div>

              <div class="col-span-2 lg:col-span-2">
                <label for="user">Confirme sua senha:</label>
                <input
                  for="verifyPassword"
                  type="password"
                  name="verifyPassword"
                  class="border-solid border-gray-400 border-2 rounded-lg p-3 md:text-xl w-full"
                  placeholder="********"
                  required
                />
              </div>

              <div class="col-span-2 text-center">
                <button
                  class="py-3 px-6 bg-red-800 text-white rounded-lg font-amatic font-bold w-full sm:w-32 hover:from-red-800 shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out"
                  id="btnCadastrar"
                >
                  CADASTRAR
                </button>
              </div>

              <!-- Mensagem de erro -->
              <% if(mensagem) { %>
              <div
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                role="alert"
              >
                <strong class="font-bold">Erro</strong><br />
                <span class="block sm:inline">
                  <p><%= mensagem %></p>
                </span>
              </div>
              <% } %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
