<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Asta vs The Demons</title>
		<script src=".././game/renjs.js"></script>
		<script src=".././game/boot.js"></script>
		<script src=".././game/CloudSaving.js"></script>
	</head>
	<body style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px;margin-right: 0px;">
		<script>

			let getJSON = (callback) => {
			let xhr = new XMLHttpRequest();
			xhr.open('POST', '/carregaDados');
				xhr.setRequestHeader('Content-Type', 'application/json');
				//xhr.send();
				xhr.onload = () => {

					let status = xhr.status;

					if (status == 200) {
						callback(null, xhr.response);
					} else {
						callback(status);
					}
				};

			xhr.send();
			};


			function cloudSave(slot, data){
			const item = localStorage.getItem("data"); 
			const itemDeserializado = JSON.parse(data); 

			const payload = {
			itemDeserializado: itemDeserializado,
			slot: slot
			};

			const xhr = new XMLHttpRequest();
			xhr.open('POST', '/recebedados');
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify(payload));
		}

		// function loadSave(data,slot){
			 
		// 	 const payload = {
		// 	 data: data,
		// 	 slot: slot
		// 	 };
 
		// 	 const xhr = new XMLHttpRequest();
		// 	 xhr.open('POST', '/carregaDados');
		// 	 xhr.setRequestHeader('Content-Type', 'application/json');
		// 	 xhr.send(JSON.stringify(payload));

		// 	 if(xhr.status == 200){
		// 		 console.log("Dados carregados com sucesso");
		// 	 }
		// 	 else{
		// 		 console.log("Erro ao carregar dados");
		// 	 }
		// }


		function cloudLoad(slot, data){
			const itemDeserializado = localStorage.getItem("data"); 
			// const itemDeserializado = JSON.parse(data); 

			const payload = {
			itemDeserializado: itemDeserializado,
			slot: slot
			};

			const xhr = new XMLHttpRequest();
			xhr.open('POST', '/retornaDados');
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify(payload));
		}
		</script>
			<% if (isAuth && userId) { %>
				<input type="text" id="isAuth" value="<%= isAuth %>" style="display: none;">
				<input type="text" id="userId" value="<%= userId %>" style="display: none;" >
				<input type="text" id="username" value="<%= username %>" style="display: none;" >
			<% } %>
	</body>
	<script src=".././game/functions.js"></script>
</html>