<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8" />
		<title>Asta vs The Demons</title>
		<script src="../game/renjs.js"></script>
		<script src="../game/boot.js"></script>
	</head>
	<body style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px;margin-right: 0px;">
	</body>

</html>