<html>

  <head>
    <%- include('headHome'); %>
      <title>Asta vs The Demons</title>
  </head>

  <body>
    <header>
      <nav class="nav-container">
        <ul>
          <li><a class="font-amatic text-4xl hover:text-red-700" href="/blog">Blog</a></li>
          <li><a class="font-amatic text-4xl hover:text-red-700" href="/cadastro">Cadastre-se</a></li>
          <li><a class="font-amatic text-4xl hover:text-red-700" href="/login">Entrar</a></li>
        </ul>
      </nav>
    </header>
    <div class="flex w-screen justify-center items-center overflow-hidden" id="container">
      <img src="./images/logo.png" class="float-center bg-center bg-auto" id="logo">
    </div>
  </body>

</html>