<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include('head'); %>
    <title>Faça seu login :)</title>
</head>

<body class="bg-mente-cruel2 overflow-hidden">
  
  <div class="flex h-screen">

    
  
    <nav class="w-20 h-full bg-black flex flex-col items-center justify-between">
      <ul class="bg-black w-20">
        <img src="./images/estrelinha.png" class="logo-img flex" alt="Logo">
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        <li class="py-2">
          <a class="text-black">.</a>
        </li>
        
        <li class="py-2 mx-2">
          <a href="\" class="text-white font-amatic text-3xl hover:text-red-700">home</a>
        </li>
        <li class="py-2 mx-3">
          <a href="\blog" class="text-white font-amatic text-3xl hover:text-red-700">blog</a>
        </li>
        
      </ul>
    </nav>


    <div class="flex lg:w-[60vw] w-full justify-center items-center px-6">
      <div class="sm:w-fit w-screen bg-white py-10 px-6 rounded-xl bg-opacity-60">
        <form action="\login" method="POST">
          <div class="text-3xl mb-6 text-center">
            <h2 class="font-amatic text-6xl font-bold text-red-900 text-center">
              LOGIN:
            </h2>
          </div>

          <div class="grid grid-cols-1 gap-4 max-w-xl m-auto">
            <div class="col-span-2 lg:col-span-2">
              <label for="email">Informe seu e-mail</label>
              <input for="email" type="text" name="email"
                class="border-solid border-gray-400 border-2 rounded-lg p-3 md:text-xl w-full"
                placeholder="Informe seu e-mail aqui" required />
            </div>

            <div class="col-span-2 lg:col-span-2">
              <label for="password">Senha</label>
              <input for="password" type="password" name="password"
                class="border-solid border-gray-400 border-2 rounded-lg p-3 md:text-xl w-full" placeholder="********"
                required />
            </div>

            <div class="col-span-2 text-center">
              <button class="py-3 px-6 bg-red-800 text-white rounded-lg font-amatic font-bold w-full sm:w-32
                   hover:from-red-800 shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-800 focus:shadow-lg 
                   focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg 
                   transition duration-150 ease-in-out">
                ENTRAR
              </button>
            </div>

              <% if(mensagem) { %>
              <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Erro</strong><br />
                <span class="block sm:inline">
                  <p>
                    <%= mensagem %>
                  </p>
                </span>
              </div>
              <% } %>
          </div>
        </form>
        <div class="col-span-2 text-center mt-3">
          <a class='group  text-red-700 transition-all duration-300 ease-in-out' href='\cadastro'>
            <span
              class='bg-left-bottom bg-gradient-to-r from-red-400 to-red-700 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out'>
              Cadastre-se aqui!
              </span>
            </a>
            </div>
            <div class="col-span-2 text-center mt-3">
              <a class='group  text-red-700 transition-all duration-300 ease-in-out' href='\recuperarSenha'>
                <span class='bg-left-bottom bg-gradient-to-r from-red-400 to-red-700 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out'>
                Esqueci minha senha
                </span>
              </a>
              </div>
        </div>
      </div>
    </div>


    <!-- Container filho 2 com tamanho de 40% da tela -->
    <div class="flex w-[40vw]"></div>
  </div>
</body>

</html>