<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('head'); %>
  </head>

  <body class="bg-[#1B1A1A]">

    <div class="flex h-screen justify-center items-center">


    <div class="flex flex-col justify-center items-center w-96 h-96 rounded-xl bg-[#D9D9D9] text-white px-[5vw]">

    <div class=" w-80">
  
    <form
      action="/recuperarSenha"
      method="POST"
      class="flex flex-col text-left justify-start items-start"
    >

    <div class="flex flex-row my-3 w-80 items-center"
    >

        <div class="row-span-2 lg:row-span-2 text-black">
            <label for="email">Informe o email da sua conta cadastrada: </label>
            <input for="email" type="text" name="email"
            class="border-solid border-gray-400 border-2 rounded-lg p-3 md:text-xl w-full"
            placeholder="user@email" required/>
        </div>

        </div>

        <div class="flex flex-row h-full m-3 justify-center"> 

        <% if(typeof mensagem !== 'undefined') { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Erro</strong><br/>
              <span class="block sm:inline">                
                <p><%= mensagem %></p>
              </span>
            </div>
            <% } %>
        </div>
        
        <div class="flex flex-row mx-24 justify-center"> 

            <button class="py-3 px-6 bg-red-800 text-white rounded-lg font-amatic font-bold w-full sm:w-32
            hover:from-red-800 shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-800 focus:shadow-lg 
            focus:outline-none focus:ring-0 active:bg-red-900 active:shadow-lg 
            transition duration-150 ease-in-out">
            ENVIAR
        </button>
    </div>

</div>
        

      </div>
    </div>
    </form>
  </div>

  </body>
</html>