<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('head'); %>
  </head>
  <body class="bg-[#1B1A1A] overflow-x-hidden">
    <div class="flex flex-col h-full sm:mx-24 mx-4">
      <% comentarios.forEach(function(c) { %>
      <div
        class="flex flex-col w-full h-32 rounded-3xl bg-red-800 text-white my-8 px-12 py-8"
      >
        <h2>Comentário realizado por: @<%= c.usuario%></h2>
        <a> <%= c.comentario%></a>
      </div>

      <div class="border-t border-white opacity-20"></div>
      <br />

      <div
        class="flex flex-col w-full h-40 rounded-xl bg-[#D9D9D9] text-white px-[5vw] my-3"
      >
        <form
          action="/insereResposta"
          method="POST"
          class="flex flex-col py-3 text-left justify-start items-start"
        >
          <textarea
            type="text"
            name="comentario"
            id="comentario"
            placeholder="Deixe aqui uma resposta... Interagir com outros usuários pode ser divertido!"
            class="h-full w-full my-5 outline-none resize-none text-red-900 bg-transparent rounded-lg"
          ></textarea>

          <div class="flex flex-row w-full h-15 justify-between">
            <label class="relative inline-flex items-center cursor-pointer">
              <input
                type="checkbox"
                value="on"
                id="checkbox"
                name="checkbox"
                class="sr-only peer"
                checked
              />
              <div
                class="w-11 h-6 bg-gray-400 rounded-full peer peer-focus:ring-4 peer-checked:after:translate-x-full after:absolute after:top-3.5 after:left-[4px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red-800"
              ></div>
              <span class="ml-3 text-sm font-medium text-gray-900">
                Anônimo</span
              >
            </label>

            <button type="submit" class="py-2 px-0">
              <svg
                width="38"
                height="33"
                viewBox="0 0 46 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.6685 33.5482L13.5983 33.4843C13.3548 33.2341 13.2008 32.9105 13.1603 32.5637C13.1197 32.217 13.195 31.8665 13.3742 31.567L19.642 21.0636C19.801 20.7969 19.8781 20.4892 19.8636 20.179C19.8491 19.8688 19.7437 19.5697 19.5605 19.319L12.3409 9.44567C12.1332 9.16448 12.0245 8.82249 12.0316 8.47303C12.0387 8.12357 12.1612 7.78627 12.3801 7.51374C12.599 7.24121 12.9019 7.04877 13.2415 6.96641C13.5812 6.88406 13.9386 6.91642 14.258 7.05846L38.6702 17.8771C38.9595 17.9818 39.212 18.1684 39.3969 18.4143C39.5819 18.6602 39.6911 18.9546 39.7114 19.2616C39.7317 19.5686 39.6621 19.8748 39.5112 20.1429C39.3602 20.411 39.1344 20.6292 38.8614 20.7711L15.5641 33.8184C15.262 33.9865 14.9131 34.0511 14.5708 34.0023C14.2286 33.9535 13.9116 33.7941 13.6685 33.5482Z"
                  fill="#590101"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <% }) %>
    <script src="../backend/controller/usuarioController.js"></script>
  </body>
</html>
