<html>

<head>
  <%- include('headHome'); %>
    <title>Teste</title>
</head>

<body>
  <!-- <script type="module" src="../backend/controller/usuarioController.js">
      import { usuarioController } from "../backend/controller/usuarioController.js";
      onload = function (){
      const session = usuarioController.verificaLogin(req.session.user);
      console.log(session);
      }
    </script> -->
  <header>
    <nav class="nav-container">
      <img src="./images/estrelinha.png" class="logo-img" alt="Logo">
      <ul>
        <li><a class="font-amatic text-4xl hover:text-red-700" href="/logout">logout</a></li>
        <li><a class="font-amatic text-4xl hover:text-red-700" href="/blog">Blog</a></li>
        <li><a class="font-amatic text-4xl hover:text-red-700" href="/jogar">Jogar!</a></li>
        <li><a class="font-amatic text-4xl hover:text-red-700" href="/forum">Fórum</a></li>
    </ul>
  </nav>

  <style>
    .nav-container {
    position: relative;
    }
    .logo-img {
    position: absolute;
    left: 15;
    top: 12;
    width: 3.3%;
    }
  </style>

  </header>
  <div class="bg-center bg-cover bg-fixed custom-img h-screen polaroid5 overflow-hidden">
  </div>
</body>
<!-- <script type="text/javascript" src=".././game/CloudSaving.js" charset="utf-8"></script> -->

</html>