<html>

  <head>
    <%- include('headHome'); %>
      <title>Teste</title>
  </head>

  <body>
    <header>
      <nav class="nav-container">
         <div class="w-36 absolute top-0 left-0 right-0 bg-red-600 rounded-b-lg break-words text-white text-center">
      </div>
        <ul>
          <li><a class="font-amatic text-4xl hover:text-red-700" href="/jogar">Jogar!</a></li>
          <li><a class="font-amatic text-4xl hover:text-red-700" href="/logout">logout</a></li>
          <!-- <li><a class="font-amatic text-4xl hover:text-red-700" href="/login">Entrar</a></li> -->
        </ul>
      </nav>
    </header>
    <div class="flex w-screen h-full justify-center items-center overflow-hidden" id="container">
      <img src="./images/logo.png" class="-mt-48" id="logo">
    </div>
  </body>

</html>