@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html,
body {
    min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
  height: 100%;
  background-color: rgb(0, 0, 0);
  height: 76px;

}

li {
  display: inline;
  float: right;
  margin-top: 10px;
}

li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
}

.bg-me-ajude {
    background-image: url('../images/cadastro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg-mente-cruel {
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.font-amatic {
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
}

.custom-img {
    background-image: url('../images/parallax1.png');
}

.custom-img2 {
    background-image: url('../images/logo.png');
}

.bg-mente-cruel2 {
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.font-amatic {
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
}

