@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html,
body {
    min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(23, 23, 23);
  height: 76px;

}

li {
  display: inline;
  float: right;
  margin-top: 10px;
}

li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
}

.bg-me-ajude {
    background-image: url('../images/cadastro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg-mente-cruel {
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.font-amatic {
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
}

.custom-img {
    background-image: url('../images/polaroid1.png');
    background-size: 31% !important;
    background-repeat: no-repeat;

}

.custom-img2 {
    background-image: url('../images/polaroid3.png');
    background-size: 31% !important;
    background-repeat: no-repeat;
}

.custom-img3 {
    background-image: url('../images/polaroid2.png');
    background-size: 31% !important;
    background-repeat: no-repeat;
}

.custom-img4 {
    background-image: url('../images/polaroid4.png');
    background-size: 31% !important;
    background-repeat: no-repeat;
}


.bg-mente-cruel2 {
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.font-amatic {
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
}

.logo {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
  }

 footer{
    background-color: rgb(23, 23, 23);
 }